/*
 * The Typekit service used to deliver this font or fonts for use on websites
 * is provided by Adobe and is subject to these Terms of Use
 * http://www.adobe.com/products/eulas/tou_typekit. For font license
 * information, see the list below.
 *
 * delaney:
 *   - http://typekit.com/eulas/00000000000000003b9ae402
 *   - http://typekit.com/eulas/00000000000000003b9ae404
 *
 * © 2009-2021 Adobe Systems Incorporated. All Rights Reserved.
 */
/*{"last_published":"2021-11-25 17:49:29 UTC"}*/

@import url("https://p.typekit.net/p.css?s=1&k=xub8lda&ht=tk&f=30139.30141&a=8268270&app=typekit&e=css");

@font-face {
font-family:"delaney";
src:url("https://use.typekit.net/af/bb9081/00000000000000003b9ae402/27/l?subset_id=2&fvd=n4&v=3") format("woff2"),url("https://use.typekit.net/af/bb9081/00000000000000003b9ae402/27/d?subset_id=2&fvd=n4&v=3") format("woff"),url("https://use.typekit.net/af/bb9081/00000000000000003b9ae402/27/a?subset_id=2&fvd=n4&v=3") format("opentype");
font-display:auto;font-style:normal;font-weight:400;
}

@font-face {
font-family:"delaney";
src:url("https://use.typekit.net/af/9d48f5/00000000000000003b9ae404/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n6&v=3") format("woff2"),url("https://use.typekit.net/af/9d48f5/00000000000000003b9ae404/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n6&v=3") format("woff"),url("https://use.typekit.net/af/9d48f5/00000000000000003b9ae404/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n6&v=3") format("opentype");
font-display:auto;font-style:normal;font-weight:600;
}

.tk-delaney { font-family: "delaney",sans-serif; }
